.rtc-card {
  margin-bottom: 10px;
  font-size: 13px;
  padding: 10px;
  position: relative;
  
  &-content {
    font-size: 18px;
  }

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: italic;
  }
  
}